{% extends 'Proyecto/padre.html'%}

{% load static %}

{% block content %}

<h1 style="color: black; text-align: center; text-decoration: underline;">Acerca de mí.</h1>
<h3 style="color:darkslategrey; text-align: justify"> Mi nombre es Leda, tengo 26 años y vivo en la provincia de Santa Cruz, Argentina.</h3>
    <p style="font-size:x-large; color: rgb(12, 12, 12 ); text-align: justify;">Descubrí el mundo de la programación en el año 2021 cuando cursé el primer año de Analista en Sistemas. 
    Iniciamos con el lenguaje C y es cuando supe que este mundo me iba a encantar. </p>
    <p style="font-size:x-large; color: rgb(12, 12, 12); text-align: justify;"> Realicé el curso de Java del INTI (ArgentinaPrograma) y en el mismo fue la primera vez que realicé un proyecto (Portfolio Web).
    A medida que avanzaron los años, he ido profundizando en diferentes lenguajes como Python y Java.</p>
    <p style="font-size:x-large; color: rgb(12, 12, 12); text-align: justify;">Este blog es un resultado de todo lo aprendido en el curso de Python que realicé en CoderHouse. Espero que disfruten de todo mi esfuerzo.</p>
    
{% endblock %}