{% extends 'Proyecto/padre.html' %}

{% load static %} 

{% block content %}

    <h1>Listado de Blogs</h1>

    {% if posts %}
        <ul>
            {% for p in posts %}
                <li>
                    <h2>{{ p.titulo }}</h2>
                    <h4>{{ p.subtitulo }} </h4>
                    <p> {{p.lugar }} </p>  
                    <a href="{% url 'Proyecto:ver_posts' p.id %}" class="btn btn-dark"> VER MAS </a>                 
                </li>
                
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay blogs disponibles.</p>
    {% endif %}
{% endblock %}